:root {
  --paynes-gray: rgba(73, 88, 103, 1);
  --glaucous: rgba(87, 115, 153, 1);
  --columbia-blue: rgba(189, 213, 234, 1);
  --ghost-white: rgba(247, 247, 255, 1);
  --bittersweet: rgba(254, 95, 85, 1);
  --articlecard: rgba(182, 182, 185, 0.2);
}
body {
  font-family: 'Gabarito', sans-serif;
  background-color: rgb(235, 157, 89, 0.2)
}
h1 {
  color: rgb(184, 214, 184);
  font-size: 3.5rem;
  margin-left: 20px;
}
h1:hover {
  color: rgb(235, 157, 89);
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  background: url("../public/istockphoto-1464561980-1024x1024.jpg");
  color: var(--ghost-white);
  height: auto;
  justify-content: space-between;
}
.menu {
  display: flex;
  text-decoration: underline;
  font-size: 1.5rem;
  list-style: none;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
  
}
.menu li {
  padding: 1.2rem;
}
.nav-link {
  text-decoration: none;
}
.nav-link:link {
  color: var(--ghost-white);
  
}
.nav-link:visited {
  color: rgb(184, 214, 184);
  
}
.nav-link:hover {
  color: rgb(235, 157, 89);
  cursor: pointer;
}
.nav-link:active {
  color: black;
  
}
.username {
  color: var(--bittersweet);
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin: 2px;
  padding: 0px;
}
.home {
  display: grid;
  grid-template-columns: 65% 30%;
}
.articles-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 10px 10px 20px;
  grid-auto-flow: row;
  height:fit-content;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid var(--paynes-gray);
  background-color: var(--ghost-white);
  margin-top: 15px;
  padding-bottom: 15px;
  height: fit-content;
}
.news-card {
  border: 2px solid var(--paynes-gray);
  width: 24vw;
  height: fit-content;
  font-size: 20px;
  margin: 15px;
  
}
.news-title {
  text-decoration: none;
  font-size: 0.92rem;
  flex-grow: 3;

}
.news-title:hover {
  color: var(--bittersweet);
}
.news-author {
  font-size: 18px;
  background-color: var(--glaucous);
  padding: 10px;
  margin-bottom: 0px;
  color: var(--ghost-white);
}
.homepage-title {
  font-size: 2.5rem;
}
button {
  border: 2px solid #0c960c;
  border-radius: 5px;
  color: #F8F8F8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(var(--paynes-gray), var(--paynes-gray));
  font-size: 1.1rem;
  height: 40px;
  margin:10px;
  padding: 7px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0ebc0e;
  background: linear-gradient(#0ebc0e, #0c960c);
  border-color: #064f06;

}

button:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0c960c;
  background: linear-gradient(#0c960c, #0ebc0e);
}
.article-card {
  border: 1px solid var(--paynes-gray);
  width: 25vw;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: var(--ghost-white);
}

.article-card .comment-count {
  display: flex;
  background-color: var(--glaucous);
  justify-content: space-evenly;
  align-items: center;
  color: var(--ghost-white);
  height: 55px;
  margin-bottom: 0px;
}
.article-author {
  margin: 7px;
  font-style: normal;
  font-size: 18px;
}
.article-title {
  text-decoration: none;

}
.article-title:hover {
  color: var(--bittersweet);
}

.home-image, .news-image {
  width: 100%;
  height: auto;
  margin: 0px;
  object-fit: cover;
} 
.login-page, .signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 10px;
  background-color: var(--ghost-white);
  width: fit-content;
  height: 45vh;
  border: solid 1.5px var(--paynes-gray);
}
.login-form h2, .signup-form h2 {
  font-size: 1.8rem;
  margin: 10px;
  
}
label {
  font-size: 1.3rem;
  margin: 5px;
}
.login-form div, .signup-form div, .article-form div {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 10px;
  width: fit-content;
}
.login-form div label, .signup-form div label {
  margin-left: 5px;
  display: flex; 
}
input {
  width: 30vw;
  height: 30px;
  font-size: 1.5rem;
  margin: 5px;
}
input:placeholder-shown {
  font-size: 1.2rem;
}

.fullArticle-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100vw;
}
.fullArticle-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.fullArticle-img {
  width: 55%;
  height: 70%;
  border: 3px solid var(--paynes-gray);
  object-fit: cover;
}
.fullArticle-title {
  font-size: 2.5rem;
  margin: 10px;
  color: var(--bittersweet);
}
.fullArticle-text {
  display:flex;
  justify-content: center;
  text-align: justify;
  line-height: 1.3;
  width:80%;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  font-weight: 300;
  
}
.fullArticle-author {
  font-style: italic;
  margin: 10px;
  font-size: 20px;
}

.comment-section {
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 1.5px solid var(--paynes-gray);
  margin:10px;
  width:fit-content;
}
.comment-form {
  display: none;
}
.comment-btn {
  width: 8vw;
  height: 5vh;
  margin: 10px;
  border: 2px solid var(--paynes-gray);
  border-radius: 5px;
  background-color: var(--ghost-white);
}
.comment-btn:hover {
  cursor: pointer;
  background-color: var(--columbia-blue);
}
.comment {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
  width: 35vw;
  border: solid 1.1px var(--paynes-gray);
  background: linear-gradient(to right, var(--ghost-white), var(--columbia-blue));
  border-radius: 7px;

}
.comment-author {
  font-style: italic;
  font-size: 17px;
}
.comment-text {
display: flex;
border-radius: 3px;
width: 35vw;
margin: 0px;
padding: 5px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 17px;
}
.comment-text:hover {
  background-color: var(--columbia-blue);
}
.user-articles-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--columbia-blue);
  border: solid 1.1px var(--paynes-gray);
  border-radius: 5px;
  width: 35vw;
  height: fit-content;
  padding: 10px;
  margin: 25px;
  margin-top: 30px;
}
.user-articles-section p {
  margin: 15px;
  font-size: 22px;
}
.user-article {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: white;
  width: 30vw;
  height: 15vh;
  border: solid 1.5px var(--paynes-gray);
  border-radius: 5px;
}
.create-article {
  background-color: var(--columbia-blue);
  border: solid 1.1px var(--paynes-gray);
  border-radius: 5px;
  width: 55vw;
  height:fit-content;
  margin:25px;
  margin-top: 30px;
}
.article-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 'inherit';
  height: 'inherit';
}
.article-form div input {
  width: 50vw;
}
.article-text {
  width: 50vw;
  height: 80vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.dashboard {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--columbia-blue);
  width:fit-content;
  margin: 20px;
  border: 1px solid var(--paynes-gray);
}
.footer i {
  font-size: 3.5rem;
  margin: 20px;
}
.footer {
  background: url("../public/istockphoto-1464561980-1024x1024.jpg");
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(184, 214, 184);
  text-align: center;
  padding: 10px;
  position: relative;
  top: 550px;
  width: 100%;
  height: 150px;
}
.footer a {
  color: rgb(184, 214, 184);
  text-decoration: none;
}
.footer i:hover {
  color: rgb(235, 157, 89);
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  h1 {
    font-size: 2.5rem;
    margin: 10px;
    padding: 0px;
  }
  .menu {
    margin: 10px;
  }
  .menu li {
    font-size: 1.2rem;
  }
  .homepage-title {
    font-size: 2rem;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles-container, .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .article-card, .news-card {
    width: 85%;
  }
  .article-title, .article-author, .comment-count {
    font-size: 1rem;    
  }
  .login-form, .signup-form {
    width: 80%;
    height: auto;
  }
  .login-form div input, .signup-form div input {
    width: 100%;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    width: 70px;
    font-size: 0.9rem;
  }
  .user-articles-section, 
  .user-article, 
  .create-article {
    width: 95%;
  }
  .user-article {
    height: fit-content;
  }
  .article-form div input {
    width: 300px;
    font-size: 15px;
  }
  .article-text {
    width: 300px;
    font-size: 15px;
  }
  .fullArticle-title {
    font-size: 1.5rem;  
  }
  .fullArticle-text, .comment {
    width: 80%;
    font-size: 15px;
  }
  .fullArticle-author {
    font-size: 15px;
  }
  .comments, .comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment-author, .comment-text {
    font-size: 13px;
    text-align:left;
    width: 90%;
  }
  .comment-btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
  
  .icons {
    position: relative;
    left: -75px;
  }
  
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
   header h1 {
     font-size: 2.3rem;
   }
   header {
    width: 105%;
   }
   .menu li {
     font-size: 1.1rem;
     padding: 0.6rem;
   }
   .homepage-title {
    font-size: 1.5rem;
   }
   .home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   .articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
   }
   .news {
    width: 50%
   }
   .article-card, .news-card {
    width: 90%;
   }
   .article-title, .news-title {
    font-size: 0.8rem;    
   }
   .article-author, .comment-count, .news-author {
    font-size: 0.9rem;
   }
  .news-author {
    margin-top: 30px;
  }
    .login-form {
      width: 70%;
      height: auto;
    }
    .login-form div input, .signup-form div input {
      width: 300px;
    }
    .signup-form {
      width: 80%;
      height: auto;
    }
    .dashboard {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .user-articles-section, 
    .user-article, 
    .create-article {
      width: 95%;
    }
    .article-form div input {
      width: 400px;
      font-size: 0.9rem;
    }
    .article-text {
      width: 400px;
      font-size: 15px;
    }
    .fullArticle-title {
      font-size: 1.5rem;  
    }
    .fullArticle-text, .comment {
      width: 80%;
      font-size: 15px;
    }
    .fullArticle-author {
      font-size: 15px;
    }
    .comment-section, .comments {
      display:flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    .comment-author, .comment-text {
      font-size: 13px;
      text-align:left;
      width: 90%;
    }
    .comment-btn {
      width: 100px;
      height: 40px;
      font-size: 15px;
    }
    .icons {
      position: relative;
      left: -155px;
    }
    .icons span, .icons i {
      font-size: 1.5rem;
    
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header h1 {
    font-size: 2.5rem;
  }
  header {
    width: 105%;
  }
  .homepage-title {
    font-size: 1.7rem;
  }
  .home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .news {
    width: 50%
  }
  .article-card, .news-card {
    width: 90%;
  }
  .article-title, .news-title {
    font-size: 0.85rem;    
  }
  .article-author, .comment-count, .news-author {
    font-size: 0.9rem;
  }
  .news-author {
    margin-top: 30px;
  }
  .login-form {
    width: 70%;
    height: auto;
  }
  .login-form div input, .signup-form div input {
    width: 450px;
  }
  .signup-form {
    width: 70%;
    height: auto;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-articles-section, 
  .user-article, 
  .create-article {
    width: 95%;
  }
  .article-form div input {
    width: 600px;
    font-size: 0.9rem;
  }
  .article-text {
    width: 600px;
    font-size: 15px;
  }
  .fullArticle-title {
    font-size: 1.5rem;  
  }
  .fullArticle-text, .comment {
    width: 80%;
    font-size: 15px;
  }
  .fullArticle-author {
    font-size: 15px;
  }
  .comments, .comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .comment-author, .comment-text {
    font-size: 13px;
    text-align:left;
    width: 90%;
  }
  .comment-btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
  .icons {
    position: relative;
    left: -215px;
  }
  .icons span {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  .news-card {
    width: 30vw;
  }
  .news {
    width: 35vw;
    margin-left: 1px;
  }
  .article-title, .news-title {
    font-size: 0.85rem;    
  }
  .article-author, .comment-count, .news-author {
    font-size: 0.9rem;
  }
  .news-author {
    margin-top: 30px;
  }
  .signup-form {
    height: auto;
  }
}