:root {
  --paynes-gray: rgba(73, 88, 103, 1);
  --glaucous: rgba(87, 115, 153, 1);
  --columbia-blue: rgba(189, 213, 234, 1);
  --ghost-white: rgba(247, 247, 255, 1);
  --bittersweet: rgba(254, 95, 85, 1);
}
body {
  font-family: 'Gabarito', sans-serif;
}
h1 {
  color: var(--ghost-white);
  font-size: 3.0rem;
  margin-left: 20px;
}
header {
  display: flex;
  flex-direction: row;
  background-color: var(--glaucous);
  color: var(--ghost-white);
  height: auto;
}
.menu {
  display: flex;
  text-decoration: none;
  font-size: 1.5rem;
  list-style: none;
  align-items: center;
  position: relative;
  left: 760px;
}
.menu li {
  padding: 1.2rem; 
}
.menu li:hover {
  color: var(--bittersweet);
  text-decoration: underline;
}
.article-card {
  margin: 20px;
  padding: 5px;
  background-color: var(--ghost-white);
  border: 1px solid var(--columbia-blue);
  width: 30vw;
  font-size: 20px;
}
.article-author {
  margin: 10px;
  font-style: italic;
}

.home-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.footer {
  background-color: var(--glaucous);
  color: var(--ghost-white);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer i {
  font-size: 3rem;
  margin: 20px;
}
