:root {
  --paynes-gray: rgba(73, 88, 103, 1);
  --glaucous: rgba(87, 115, 153, 1);
  --columbia-blue: rgba(189, 213, 234, 1);
  --ghost-white: rgba(247, 247, 255, 1);
  --bittersweet: rgba(254, 95, 85, 1);
}
body {
  font-family: 'Gabarito', sans-serif;
}
h1 {
  color: var(--ghost-white);
  font-size: 3.5rem;
  margin-left: 20px;
  color: var(--bittersweet)
}
header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, var(--columbia-blue), var(--glaucous));
  color: var(--ghost-white);
  height: auto;
}
.menu {
  display: flex;
  text-decoration: none;
  font-size: 1.5rem;
  list-style: none;
  align-items: center;
  position: relative;
  left: 760px;
}
.menu li {
  padding: 1.2rem; 
}
.nav-link:link {
  color: var(--ghost-white);
  text-decoration: none;
}
.nav-link:visited {
  color: var(--ghost-white);
  text-decoration:dashed;
}
.nav-link:hover {
  color: var(--bittersweet);
  cursor: pointer;
}
.nav-link:active {
  color: var(--paynes-gray);
  text-decoration: underline;
}
.homepage-title {
  font-size: 2.5rem;
}
button {
  border: 2px solid #0c960c;
  border-radius: 5px;
  color: #F8F8F8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(#1D1, #0ebc0e);
  text-shadow: 0 -2px #0c960c;
  font-size: 1.1rem;
  height: 35px;
  font-size: 25px;
  margin:10px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0ebc0e;
  background: linear-gradient(#0ebc0e, #0c960c);
  border-color: #064f06;
}

button:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0c960c;
  background: linear-gradient(#0c960c, #0ebc0e);
}
.article-card {
  margin: 20px;
  padding: 5px;
  background-color: var(--ghost-white);
  border: 1px solid var(--columbia-blue);
  width: 30vw;
  font-size: 20px;
}
.article-author {
  margin: 10px;
  font-style: italic;
}
.article-title {
  text-decoration: none;

}
.article-title:hover {
  color: var(--bittersweet);
}

.home-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.login-page, .signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 10px;
  background-color: var(--ghost-white);
  width: fit-content;
  height: 45vh;
  border: solid 1.5px var(--paynes-gray);
}
.login-form h2, .signup-form h2 {
  font-size: 1.8rem;
  margin: 10px;
  
}
label {
  font-size: 1.3rem;
  margin: 5px;
}
.login-form div, .signup-form div {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 10px;
  width: fit-content;
}
.login-form div label, .signup-form div label {
  margin-left: 5px;
  display: flex; 
}
input {
  width: 30vw;
  height: 30px;
  font-size: 1.5rem;
  margin: 5px;
}
input:placeholder-shown {
  font-size: 1.2rem;
}

.fullArticle-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.fullArticle-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.fullArticle-img {
  width: 55%;
  height: 70%;
  border: 3px solid var(--paynes-gray);
  object-fit: cover;
}
.fullArticle-title {
  font-size: 2.5rem;
  margin: 10px;
  color: var(--bittersweet);
}
.fullArticle-text {
  display:flex;
  justify-content: center;
  text-align: justify;
  width:80%;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  font-weight: 300;
  
}
.fullArticle-author {
  font-style: italic;
  margin: 10px;
  font-size: 20px;
}

.footer i {
  font-size: 3rem;
  margin: 20px;
}
.footer {
  background-color: var(--glaucous);
  color: var(--ghost-white);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}